.top-bar_icon {
  width: 280px;
  text-align: center;
}

.top-bar_menu {
  width: 760px;
  display: flex;
  justify-content: space-evenly;
}

.top-bar_options {
  width: 420px;
  display: flex;
  justify-content: space-evenly;
}
